services: 

  postgres:
    image: postgres:13
    environment: 
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks: 
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s

  mage:
    image: mageai/mageai:latest
    container_name: mage
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "6789:6789"
    environment:
      PROJECT_NAME: ny_taxi_project
      PIP_REQUIREMENTS_FILE: requirements.txt
    networks:
      - app-network
    volumes:
      - .:/home/src

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgAdmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "8085:80"
    networks:
      - app-network
    
volumes:
  db-data:


networks:
  app-network:
    driver: bridge

